.app-container {
  background: #fffffb;
  margin: 4em 0;

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  .weather-days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
    margin-bottom: 100px;

    &__item {
      background: #fff;
      // border: 1px solid #ddd;
      box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
        0px 10px 10px -5px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      text-align: center;
      padding: 2em 15px;
    }

    &__item ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
    }

    &__item svg {
      display: block;
      width: 4em;
      height: auto;
      padding: 15px 0;
      margin: 0 auto;
    }
  }
}
