.app-container {
  margin: 4em 0;
  display: flex;

  &__inner {
    width: 80%;
    margin: 0 auto;
    align-self: center;
  }

  .weather-days {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 25px;
      margin-bottom: 100px;
    }

    &__item {
      background: #fff;
      // border: 1px solid #ddd;
      box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
        0px 10px 10px -5px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      text-align: center;
      padding: 2em 15px;
    }

    &__item ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
    }

    &__item svg {
      display: block;
      width: 4em;
      height: auto;
      padding: 15px 0;
      margin: 0 auto;
    }
  }

  .weather-tracker {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 25px;
      grid-row-gap: 25px;
      justify-items: center;
      align-items: center;
      margin-top: 20px;
    }

    &__inner-item {
      text-align: center;
      display: flex;
      justify-items: center;
      align-items: center;
      height: 190px;
      border-radius: 8px;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      background: #ffffff;
      box-shadow: 0px 4px 22px rgba(138, 164, 172, 0.26);
      border-radius: 15px;

      .data-title {
        font-size: 18px;
        font-weight: 700;
        color: #9d8585;
      }

      .data-text {
        font-size: 30px;
        color: #9d8585;
        font-weight: 700;
      }

      .data-text strong {
        color: #333;
        font-weight: 900;
      }
    }
  }
}
